<!-- <p><i class="fa fa-github fa-lg fa-fw"></i> <a href="https://github.com/ellekasai/" target="_blank">@ellekasai</a></p> -->
<!-- <p><i class="fa fa-linkedin fa-lg fa-fw"></i> <a href="https://www.linkedin.com/in/ellekasai" target="_blank">linkedin.com/in/ellekasai</a></p> -->
<p><i class="fa fa-laptop fa-lg fa-fw"></i> <a href="https://daoning.github.io/" target="_blank">daoning.github.io</a></p>
<p><i class="fa fa-envelope-o fa-lg fa-fw"></i> <a href="mailto:rdn1110@hotmail.com" target="_blank">rdn1110@hotmail.com</a></p>
<p><i class="fa fa-mobile fa-lg fa-fw"></i> <a href="tel:13914721219" target="_blank">13914721219</a></p>
